<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tickets</title>
    <link href="style.css" rel="stylesheet">
    <script src="index.js"></script>
    <nav class="cNav">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Pages</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/home">Home</a>
            </div>
        </div>
        <script>
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }
        </script>
    </nav>
</head>
<body class="body">
    <h1 class="titleP">Ticket Page</h1>
    <div id="tickDiv">
    <% ticketsOut.forEach(function(select){%>
        <div id="ticket1">
            <p id="departure"><%= select.depart %> - <%= select.destination %></p>
            <div> <%= select.selectType %></div>
            <p><%= select.class %></p>
            <p><%= select.price %></p>
            <a href="<%= `/purchasePage/${select.id}` %>" id="link">Purchase</a>
        </div>
    <% })%>
    </div>
</body>
</html>