<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tickets</title>
    <link href="style.css" rel="stylesheet">
    <script src="index.js"></script>
</head>
<body class="body">
    <h1>Ticket Page</h1>
    <div class="location">
        <lable>Choose seat Location: </lable>
        <select>
            <option>Main</option>
            <option>Comfort+</option>
            <option>First</option>
        </select>
    </div>
    <!-- <%= %> -->
    <% ticketsOut.forEach(function(select){%>
    <a href="<%= `/purchasePage/${select.id}` %>" id="link">
        <div id="ticket1">
            <p id="times">Time of Departure - Time of Arrival</p>
            <p id="departure"><%= select.depart %> - <%= select.destination %></p>
            <div> <%= select.selectType %></div>
            <p>Flight Time</p>
            <p><%= select.class %></p>
            <p>Price</p>
        </div>
    </a>
    <% })%>
</body>
</html>